

.header-container {
  display: flex;
  width: 1352.052px;
  height: 965.393px;
  /* background: #2FC18C; */
  flex-shrink: 0;
  /* background-image: url('../../../imgs/foto\ fundo.png'), #2fc18c; */
  opacity: 0.5;
  background: url('../../../imgs/foto\ fundo.png'), #2FC18C 50% / cover no-repeat;
  mix-blend-mode: luminosity;
}

img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 45px;
  left: -88px;
  bottom: 241.48px;
  right: 341.82px;
}

#img-text {
  display: inline-flex;
  position: relative;
  width: 85.882px;
  height: 33.795px;
  top: -30px;
  left: -20px;
  /* right: 247.09px; */
  /* bottom: 241.77px; */
  color: #003BE5;
  font-size: xx-large;
  font-weight: 300;
}

#img-text span {
  color: #2FC18C;
  font-weight: bolder;
}

#form-box {
  background: white;
  display: flex;
  position:relative;
  width: 525px;
  height: 356px;
  top: 201px;
  left: 650px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: -4px 9px 13px 0px rgba(3, 107, 82, 0.30);
}

#forms {
  display: flex;
  flex-direction: column;
}

#email {
  border-radius: 5px;
  position: relative;
  width: 330px;
  height: 40px;
  top: -40px;
  margin-bottom: 10px;
  left: 8px;
  /* bottom: 157px; */
  /* right: 97px; */
  flex-shrink: 0;
  border: 1px solid #003BE5;
  background: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #003BE5;
  line-height: normal;
  
}

#password {
  width: 330px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
  top: -40px; 
  /* margin-bottom: 10px; */
  left: 8px;
  /* bottom: 157px; */ 
  /* right: 97px; */
  border-radius: 5px;
  border: 1px solid #003BE5;
  background: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #003BE5;
  line-height: normal;
  
}

#form-btn {
  width: 338px;
  height: 40px;
  position: relative;
  background: #003BE5;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #003BE5;
  top: -35px;
  left: 8px;
  /* bottom: 57px; */
  /* right: 97px; */
}